# App
PORT=random_port
NODE_ENV=

# Database
DB_HOST=pgSQL_mostly
DB_PORT=random_port
DB_USER=defualt
DB_PASSWORD=secret_default
DB_NAME=random_db

DATABASE_URL=postgresql://neondb_owner:smkhladi

JWT_ACCESS_SECRET=ultra_secure_secret
JWT_REFRESH_SECRET=ultra_secure_secret
JWT_EXPIRES_IN=3hr
REFRESH_EXPIRES_DAYS=30


# EMAIL FOR NODEMAILER
EMAIL=sarthak@gmail.com
EMAIL_PASSWORD=secret_email_password