# BACKEND
# dependencies
node_modules/

# env files
.env
# .env.*

# logs
logs/
database/backup/
*.log
npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build / temp (optional but safe)
dist/
build/
uploads/
# package locks (ignore if you want manual control)
package-lock.json
# yarn.lock
# pnpm-lock.yaml
